.Navbar {
    background-color: rgb(18, 18, 18);
    color: #fff;
}

.navbar-wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-1 img {
    width: 30px;
    background-blend-mode: color-burn;
}

.nav-1 span {
    font-size: 22px;
    font-weight: 500;
}

.nav-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.nav-2 .nav-item {
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4px;
    height: 10vh;
}

.nav-2 .mobile-nav-item-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-2 .mobile-nav-item {
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    display: none;
    align-items: center;
    height: 10vh;
}

.nav-2 li .key-arrow {
    margin-top: 4px;
}

.dropdown {
    position: absolute;
    top: 8%;
    background-color: rgb(18, 18, 18);
    box-shadow: rgba(255, 255, 255, 0.15) 0px 0px 13px 0px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 140px;
}

.dropdown li {
    padding: 2px 6px;
    margin: 2px 4px;
    border: 1px solid black;
    border-radius: 4px;
}

.dropdown li:hover {
    background-color: #fff;
    color: black;
}

@media (max-width:644px) {
    .navbar-wrap {
        display: block;
    }

    .nav-2 .mobile-nav-item-wrap.open {
        position: absolute;
        display: flex;
        background: #121212;
        top: 7%;
        right: 0;
        flex-direction: column;
        transition: .7s all ease;
        transform: translate3d(0, 0, 0);
    }

    .nav-2 .mobile-nav-item-wrap {
        position: absolute;
        display: flex;
        background: #121212;
        top: 7%;
        right: 0;
        flex-direction: column;
        transition: .7s all ease;
        transform: translate3d(0, -120%, 0);
    }

    .navbar-wrap {
        justify-content: space-around;
        gap: 20px;
        padding: 10px 10px;
    }

    .nav-2 {
        width: 100%;
    }

    .nav-2 .mobile-nav-item {
        display: block;
        position: absolute;
        top: 16px;
        right: 20px;
    }

    .dropdown {
        top: 20%;
        right: 30%;
        z-index: 1000;
    }
}